*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* main */

.main-container{
    width: 100%;
    height: 90vh;
    background-color: black;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    overflow: auto;
    position: relative;
}

.speaker{
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.fa-table-cells{
    font-size: 0.8rem;
}

.main-container::-webkit-scrollbar{
    display: none;    
}

.user{
    width: 200px;
    /* width: calc(100% / 7 - 1rem); */
    /* height: calc(100% / 5 - 1rem); */
    /* margin: 0.5rem; */
    border: 1px solid black;
    position: relative;
}

.user img{
    width: 100%;
    display: block;
    /* height: auto;    */
}

.mic{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    padding: 0.2rem 0.5rem;
}

.fa-microphone-slash{
    font-size: 1rem;
    color: white;
}

.main-container span{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

/* Footer */

.footer-container{
    width: 100%;
    height: 10vh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

i{
    font-size: 1.5rem;
}

.nav-left{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.nav-left > div{
    padding: 0 1rem;
}

.button-description{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.fa-angle-down{
    font-size: 0.8rem;
}

.nav-main{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.nav-main > div{
    padding: 0 1rem;
}

.nav-right{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.End{
    background-color: gray;
    color: red;
    font-weight: bold;
    border: none;
    height: 10vh;
    padding: 0 1rem;
}